/* Base */

html {
    background: url('bg-stars.png') repeat-x center top, linear-gradient(to bottom, #f9b8b4 0%, #ebe8ba 100%) no-repeat center;
    min-height: 100%;
}

body {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 80px;
    width: 600px;
}

/* Headings */

h1 {
    color: white;
    margin-bottom: 20px;
}

/* Lists */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
ul li:last-child {
    margin-bottom: 0;
}

.block-list {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
}
